
<%= form_for @article do |a| %>
  <div>
    <%= a.label :title %>
    <%= a.text_field :title %>
  </div>

  <div>
    <%= a.label :content %>
    <%= a.text_field :content %>
  </div>

  <%= a.submit %>

<!--   <%# if @restaurant.persisted? %>
    <%#= f.submit 'GO!' %>
  <%# else %>
    <%#= f.submit 'Update!' %>
  <%# end %> -->
<% end %>
